@(contacts: List[Contact])
@import controllers.ex7.Example.Wrong.Contact

@category(contact: Contact) = {
    <tr>
        <td>@contact.name</td>
        <td>@contact.title</td>
        <td>@contact.number</td>
    </tr>
}

<div class="modal-body">
    <table class="table">
        <tbody>
        @contacts.map { case contact =>
            @category(contact)
        }
        </tbody>
    </table>
</div>

