<h6>
    <script>
  
    var name = document.location.hash.split('#')[1]; //https://tradenews.codebashing.com/guests/landing#guest

	if (name.match(/^[a-zA-Z0-9]*$/))
	{
    document.write("Hello " + name + "! Please login or signup to access news stories");
	}
	else
	{
	window.alert("Security error");
	}

</script>
</h6>